langgraph
langchain
langchain-groq
langchain-community
duckduckgo-search
ddgs

psycopg[binary]
psycopg_pool
langgraph-checkpoint-postgres

python-dotenv
requests

airportsdata
pycountry

fastapi
uvicorn
jinja2
python-multipart